apiVersion: v1
kind: Service
metadata:
  name: website
  annotations:
    metallb.universe.tf/address-pool: default  # Use your MetalLB pool
spec:
  selector:
    app: website
  ports:
  - port: 80
    targetPort: 80
  type: LoadBalancer

